*{
    padding: 0px;
    margin: 0px;   
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 
 @media only screen and (max-width: 768px) {
   /* For mobile phones: */
   .navMenu{
     display: none !important;
   }
   .button-2{
     background-color: #b52b40 !important;
     opacity: 1 !important;
   }
 }
 
 @media only screen and (min-width: 768px){
 .toggle-btn{
   display: none;
 }
 .dropdown_menu{
   display: none;
 }
 }
 
 
 /* NavBar Starts  */
 
 @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
 * {
   margin: 0;
   padding: 0;
 }
 
 .logo{
     height: 65px;
     width: 248px;
     text-align: center;
 }
 
 /* .logo img{
     width: 100% !important;
     height: 100% !important;
 } */
 
 .navMenu a {
   line-height: 61px;
   color: #5b605edc;
   text-decoration: none;
   font-size: 1.2em;
   text-transform: uppercase;
   font-weight: 500;
   margin-left: 25px;
   /* width: auto; */
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }
 
 .navMenu a:hover {
   color: #908448;
 }
 
 .navMenu .dot {
   width: 65px;
   height: 5px;
   margin-top: 47px;
   background: #f9d10d;
   border-radius: 5px;
   opacity: 1 ;
   -webkit-transform: translateX(-298px);
   transform: translateX(-298px);
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.3s ease-in-out;
 }
 
 /* .navMenu a:nth-child(1):hover ~ .dot {
   -webkit-transform: translateX(-298px);
   transform: translateX(-298px);
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   opacity: 1;
 } */
 
 .navMenu a:nth-child(2):hover ~ .dot {
   -webkit-transform: translateX(-222px);
   transform: translateX(-222px);
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   opacity: 1;
 }
 
 .navMenu a:nth-child(3):hover ~ .dot {
   /* width: 100px; */
   -webkit-transform: translateX(-145px);
   transform: translateX(-145px);
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   opacity: 1;
 }
 
 .navMenu a:nth-child(4):hover ~ .dot {
   -webkit-transform: translateX(-65px);
   transform: translateX(-65px);
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   opacity: 1;
   /* width: 72px; */
 }
 
 .toggle-btn{
     /* color: #; */
     font-size: 28px;
     cursor: pointer;
     
 }
 
 .dropdown_menu {
     position: absolute;
     right: 12px;
     top: 70px;
     height: 0px;
     width: 180px;
     background-color: whitesmoke;
     box-shadow: 0px 12px 55px 5px #5b605edc;
     backdrop-filter: blur(15px);
     border-radius: 7px;
     overflow: hidden;
     transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 
 .dropdown_menu li{
   list-style-type: none;
   padding: 3px 0px 0px 15px;
   height: 27px;
   /* border-bottom:1px solid rebeccapurple; */
   /* background-color: #908448; */
   /* text-align: center; */
 }
 
 .dropdown_menu a{
   text-decoration: none;
   color: #5b605edc;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
 }
 
 .dropdown_menu a:hover{
   color: #b52b40;
   font-size: 17px;
   text-shadow: 0px 0px 12px #5b605edc;
 }
 
 .open{
     height: 140px;
 }
 
 /* NavBar Ends */

 /* CarINFO Section starts */
.Upcoming{
    margin-top: 120px;
  }
  
  .spextext{
      line-height: 10px;
  }
  
  .spextext h6{
     color: gray;
     font-size: 13px;
  }

  .carname{
     font-size: 33px;
  }

  .infotext{
    background-image: url(/img/brands/volksv.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: right 20px top 13px;

    

  }

  th{
    padding-right: 25px;
    padding-top: 10px;
    padding-left: 10px;
  }


  /* CarINFO Section ends */
 
 /* Footer Section Starts */
     .box-1{
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .box-2 img{
     /* height: 50%; */
     width: 60px;
 }
 
 footer hr{
     width: 90%;
     margin: auto;
 }
 
 .fttext{
     text-align: center;
 }
 
 .listt{
     height: 290px;
 }
 
 .listt li{
     list-style-type: none;
     margin-left: 35px;
     margin-top: 14px;
     height: 28px;
 }
 
 .listt a{
     text-decoration: none;
     color: gray;
 }
 
 .listt li:hover{
     color: rgb(169, 159, 159);
     font-size: 17px;
     text-shadow: 3px 2px 20px;
     transition: all 0.1s ease-in-out;
 
 }
 
 /* Footer Section Ends */

 /* more Cars starts*/
 .heading{
    margin-top: 120px;
 }
 /* more cars ends */